<h1>Hello, 
    <span *ngIf="!userInfo">%username%</span>
    <span *ngIf="userInfo">{{ userInfo.userName }}</span>!
</h1>

<div class="form-group">
    <label class="control-label col-md-offset-1 col-md-2 text-right">
        Instant search:
    </label>
    <div class="col-md-6">
        <autocomplete 
            [(ngModel)]="product"
            [source]="products.productsSource"
            [placeholder]="'Start to type a product name'"
            (ngModelChange)="getProductDetails($event.id)"
            name="details">
        </autocomplete>
    </div><br><br>
</div>

<product-details 
    *ngIf="details"
    [value]="details">
</product-details>
