<spinner [active]="!value"></spinner>

<div *ngIf="value">
    <div class="well">
        <div class="col-md-2">
            <img [src]="value.product.imageUrl" alt="Photo" class="img-responsive img-rounded" />
        </div>
        <div class="col-md-8">
            <h3>{{ value.product.name }}</h3>
            <p>{{ value.product.description }}</p>
        </div>
        <div class="col-md-2 text-right">
            <h4 class="text-info">
                {{ value.product.price | currency:'USD':true}}
            </h4>
                <button (click)="addToCart()" class="btn btn-primary">
                    <i class="fa fa-cart-plus"></i> Add to cart
                </button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <comments [productId]="value.product.id"></comments>
</div>
