<spinner [active]="!value"></spinner>

<div *ngIf="value">
    <div class="well">
        <div class="col-md-2">
            <img [attr.src]="value.product.imageUrl | safe:'url'" alt="Photo" class="img-responsive img-rounded" />
        </div>
        <div class="col-md-8">
            <h3>{{ value.product.name }}</h3>
            <p>{{ value.product.description }}</p>
        </div>
        <div class="col-md-2 text-right">
            <h3 class="text-info">
                {{ value.product.price | currency:'USD':'symbol':'1.2-2'}}
            </h3><br />
            <div class="fa-2x">
                <div>Rating: {{ value.ratingTotal | number:'1.2-2' }}</div>
                <rating-bar 
                    [ratingTotal]="ratingTotal" 
                    [count]="5"
                    [readonly]="value.ratingByUser"
                    (rate)="rate($event)">
                </rating-bar>
            </div><br />
            <div style="cursor:pointer" class="fa-3x">
                <i (click)="removeFromFavorites()" *ngIf="value.isFavorite" class="fa fa-heart text-danger"></i>
                <i (click)="addToFavorites()" *ngIf="!value.isFavorite" class="fa fa-heart-o"></i>
            </div><br />
            <div>
                <button (click)="addToCart()" class="btn btn-lg btn-primary">
                    <i class="fa fa-cart-plus"></i> Add to cart
                </button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <comments [productId]="value.product.id"></comments>
</div>
