<button (click)="createItem()" class="btn btn-primary pull-right">Create</button>

<spinner [active]="!items"></spinner>

<table *ngIf="items" class="table table-striped table-hover">
    <thead>
        <tr>
            <th><input type="checkbox" /></th>
            <th>
                <a (click)="sort('name')" style="cursor:pointer">
                    Name
                    <i *ngIf="sortBy=='name'" class="fa fa-arrow-down"></i>
                </a>
            </th>
            <th>
                <a (click)="sort('price')" style="cursor:pointer">
                    Price
                    <i *ngIf="sortBy=='price'" class="fa fa-arrow-down"></i>
                </a>
            </th>
            <th>Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of items" style="cursor:pointer">
            <td><input type="checkbox" /></td>
            <td (click)="selectItem(p.id)">
                <img [src]="p.imageUrl" style="width:50px; margin-right:20px" class="img-rounded" />
                {{ p.name }}
            </td>
            <td>{{ p.price | currency:'USD':true:'1.2-2' }}</td>
            <td>{{ p.quantity }}</td>
            <td>
                <i (click)="editItem(p.id)" class="fa fa-edit" style="cursor:pointer"></i> | 
                <i (click)="deleteItem(p)" class="fa fa-trash" style="cursor:pointer"></i>
            </td>
        </tr>
    </tbody>
</table>

<div aria-label="Page navigation" style="text-align:center">
    <ul class="pagination" *ngIf="paging" style="cursor:pointer">
        <li *ngFor="let pageNum of paging.pages" [ngClass]="{ active: pageNum === paging.page }">
            <a [routerLink]="[]" [queryParams]="{ page: pageNum }">{{ pageNum }}</a>
        </li>
    </ul>
</div>
